*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #fff;
  padding: 30px; }

.heading-primary {
  text-transform: uppercase;
  color: #fff; }
  .heading-primary--main {
    display: block;
    letter-spacing: 3.5rem;
    font-weight: 40rem;
    font-size: 6rem;
    animation-name: moveInRight;
    animation-duration: 1000ms;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    font-weight: 700;
    letter-spacing: .8rem;
    display: block;
    margin-bottom: 6rem;
    animation: moveInLeft 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #adecffb3, rgba(6, 103, 160, 0.8));
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all .3s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(-15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.btn-text:link,
.btn-text:visited {
  text-decoration: none;
  color: #0667a0;
  border-bottom: 1px solid #0667a0;
  padding: 3px;
  display: inline-block; }
  .btn-text:link:hover,
  .btn-text:visited:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    background-color: #0667a0;
    color: #fff;
    transform: translateY(-2px); }
  .btn-text:link:active,
  .btn-text:visited:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.paragraph:not(:last-child) {
  margin-bottom: 2rem; }

.location {
  text-align: center; }
  .location i {
    font-size: 1.6rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-2rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(2rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveUp {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 100; } }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    z-index: 2;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo img {
      object-fit: contain;
      max-width: 22.5rem;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      border-radius: 2px; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 20%; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      outline: 1.5rem solid #0667a0;
      transform: scale(1.05) translateY(0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(6, 103, 160, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature__box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  color: #777;
  transition: transform .3s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .feature__box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.btn:link, .btn:visited {
  padding: 1.5rem 4rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  text-transform: uppercase;
  transition: all .2s;
  position: relative; }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s ease; }

.btn--white::after {
  background-color: #fff; }

.btn--animated {
  animation: moveUp .5s ease-out .75s;
  animation-fill-mode: backwards; }

.card {
  perspective: 150rem;
  perspective-origin: 50% 50%;
  height: 52rem;
  position: relative; }
  .card__side {
    position: absolute;
    height: 52rem;
    transition: transform .8s ease;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-image: linear-gradient(to right bottom, #adecffb3, rgba(6, 103, 160, 0.712));
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem; }
    .card__picture--1 {
      background-image: url(img/mky-moody-AUF6Gl4wwzA-unsplash.jpg); }
    .card__picture--2 {
      background-image: url(img/mky-moody-AUF6Gl4wwzA-unsplash.jpg); }
    .card__picture--3 {
      background-image: url(img/mky-moody-AUF6Gl4wwzA-unsplash.jpg); }
    .card__picture--4 {
      background-image: url(img/mky-moody-AUF6Gl4wwzA-unsplash.jpg); }
    .card__picture--5 {
      background-image: url(img/mky-moody-AUF6Gl4wwzA-unsplash.jpg); }
    .card__picture--6 {
      background-image: url(img/mky-moody-AUF6Gl4wwzA-unsplash.jpg); }
    .card__picture--7 {
      background-image: url(img/mky-moody-AUF6Gl4wwzA-unsplash.jpg); }
    .card__picture--8 {
      background-image: url(img/mky-moody-AUF6Gl4wwzA-unsplash.jpg); }
  .card__heading {
    font-size: 2.0rem;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #00325a;
    color: #fff;
    text-align: left;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem; }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      margin: 0 auto;
      list-style: none;
      width: 80%; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }

.footer {
  padding: 10rem 10rem;
  background-color: #000027;
  color: #fff;
  text-transform: uppercase; }
  .footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25rem; }
    .footer__links a {
      text-decoration: none;
      color: #777;
      text-shadow: 0 1rem 2rem black; }
      .footer__links a:hover {
        color: #3f3ff5; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #adecffb3, rgba(6, 103, 160, 0.712)), url(img/yuliya-pankevich-oyxsG2Lh_uA-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__icon-box {
    font-weight: 700;
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__icon {
    height: 6rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem); }

.col-3-of-4 {
  width: calc(3 *(100% - 3 * 6rem) / 4 + (2* 6rem)); }

.section-about {
  background-color: #f5f5f5;
  margin-top: -20vh;
  color: #777;
  padding: 25rem 0; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, #adecffb3, rgba(6, 103, 160, 0.8));
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -9rem; }
  .section-features > * {
    transform: skewY(6deg); }

.section-deals {
  background-color: #f5f5f5;
  padding: 25rem 0;
  margin-top: -9rem;
  color: #777; }
